@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    background: #fff;
    border-radius: 4px;
    position: relative;
}
  
.card-1 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}